.location{
  	text-align: center;
}
.map{
  border: 3px inset black;
  height: 300px;
  width: 40%;
}
.board_of_directors{
  background-color: darkgray;
  width: 110%;
}
.centryfy{
  font-weight: normal;
}