* {
    font-family: 'Open Sans', sans-serif;
    background-color: darkgray;
}
footer {
  text-align: center;
  background-color: gray;
  width: 100%;
}
div{
  background-color: darkgray;
}
p{
  background-color: darkgrey;
  color: black;
  text-align: left;
  margin-left: 1.4%;
}
#main{
  display: flex;
  justify-content: center;
  margin: 0 10% 5% 10%;
  background-color: darkgrey;
}
#nav_ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  width: 100%;
}

#nav_ul li {
  float: left;
  width: calc(100%/3);

}

#nav_ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #333;
}

#nav_ul li a:hover {
  background-color: black;
}

body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Hiirega üle liikumisel tausta värvi muutmine*/
.prev:hover, .next:hover {
  background-color: black;
}
/* Kitsal ekraanil ümber skaleerimine */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}